*.opensdf
*.sdf
*.suo
*/Debug/
UpgradeLog.htm
Debug/
logFiles/*
!logFiles/test
logFiles/test/*
configFiles/output_gitIgnored/*
!about.txt
win32_base/logger_output/
win32_base/configuration/test/output/
win32_base/configuration/output/
DirectXTK/