*.opensdf
*.sdf
*.suo
*/Debug/
UpgradeLog.htm
Debug/
logFiles/
configFiles/output_gitIgnored/
win32_base/logger_output/
win32_base/configuration/test/output/
win32_base/configuration/output/
DirectXTK/
textures/